.mat-dialog-title {
	white-space: nowrap;
}

.flex-center {
	align-items: center;
	display: flex;
}

div {
	text-align: center;
}

img {
	border-radius: 50%;
	width: 38px;
}

.horizontal-margin {
	margin-left: 10px;
	margin-right: 10px;
}
